.footer {
  height: 100px;
  margin-top: auto;
  background-color: white;
}

.contents {
  width: 96%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 0.5em;
  color: grey;
}