.icon {
  width: 100%;
  margin-top: 30%;
}

.logo {
  width: 100%;
  margin-top: 5%;
}

.buttonLogo {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.intro {
  width: 100%;
  margin-top: 10%;
  font-size: 0.85em;
  color: gray;
}

.searchBar {
  position: relative;
  width: 85%;
  height: 2.8em;
  margin-top: 15%;
  padding-left: 1.5em;
  background-color: transparent;
  color: gray;
  font-size: 0.9em;
  text-align: left;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 0px 10px lightgray;
}

.bsSearch {
  position: absolute;
  right: 15px;
  bottom: 14px;
}

.searchDiv {
  position: relative;
}

.searchH2 {
  margin-left: 37px;
  margin-top: 30px;
  font-size: 1.2em;
  font-weight: 600;
}

.searchH3 {
  margin-left: 37px;
  margin-top: 15px;
  font-weight: 600;
}

.searchEx {
  margin-left: 4.5em;
  margin-top: 15px;
  font-size: 0.7em;
  font-weight: 600;
  color: gray;
}

.menuBox {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 18px;
  border-top: 1.8px solid lightgray;
  font-weight: 600;
}

.searchBox {
  padding: 0;
  margin: 10px;
  height: 380px;
  overflow: auto;
  border: 1px solid lightgray;
  border-collapse: collapse;
}

.searchBlock {
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  border-collapse: collapse;
  padding: 15px 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -1px;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 180%;
}
.clicked {
  border-top: 1px solid #C0C0C0;
  border-collapse: collapse;
  padding: 15px 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -1px;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 180%;
  background-color: #ECECEC;
}

.helpDiv {
  color: #404040;
  font-size: 0.75em;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under left;
}

.rentalQuestion {
  font-size: 1.75em;
  font-weight: 600;
  text-align: left;
  margin-left: 1.3em;
}

.rentalType {
  width: 85%;
  height: 2.8em;
  margin: 0.7em;
  padding-left: 15px;
  background-color: transparent;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 0px 10px lightgray;
}

.clickedRentalType {
  width: 85%;
  height: 2.8em;
  margin: 0.7em;
  padding-left: 15px;
  background-color: transparent;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 0px 10px lightgray;
  background-color: #1381ff;
  color: white;
}

.inputGuarantee {
  position: relative;
  width: 85%;
  height: 2.8em;
  margin-top: 175px;
  padding-left: 15px;
  padding-right: 50px;
  background-color: transparent;
  color: black;
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 0px 10px lightgray;
}

.tips {
  font-size: 10px;
  -webkit-transform: scale(0.95);
  font-weight: 500;
  color: black;
  text-align: center;
  margin-left: -10%;
  margin-right: -10%;
}

.subTitleText {
  font-size: 1.2em;
  font-weight: 700;
}

.commonText {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 2em;
}

.box {
  width: 82%;
  height: 385px;
  margin: 0 auto;
  padding-top: 2.5em;
  padding-left: 0.8em;
  padding-right: 2em;
  box-shadow: 0px 0px 7px lightgray;
  border-radius: 15px;
  text-align: left;
}
