.icon {
  width: 100%;
  margin-top: 30%;
}

.logo {
  width: 100%;
  margin-top: 5%;
}

.buttonLogo {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.intro {
  width: 100%;
  margin-top: 10%;
  font-size: 0.85em;
  color: gray;
}

.searchBar {
  position: relative;
  width: 85%;
  height: 2.8em;
  margin-top: 15%;
  padding-left: 1.5em;
  background-color: transparent;
  color: gray;
  font-size: 0.9em;
  text-align: left;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 0px 10px lightgray;
}

.bsSearch {
  position: absolute;
  right: 15px;
  bottom: 14px;
}

.searchDiv {
  position: relative;
}

.searchH2 {
  margin-left: 37px;
  margin-top: 30px;
  font-size: 1.2em;
  font-weight: 600;
}

.searchH3 {
  margin-left: 37px;
  margin-top: 15px;
  font-weight: 600;
}

.searchEx {
  margin-left: 4.5em;
  margin-top: 15px;
  font-size: 0.7em;
  font-weight: 600;
  color: gray;
}

.menuBox {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 18px;
  border-top: 1.8px solid lightgray;
  font-weight: 600;
}

.searchBox {
  padding: 0;
  margin: 10px;
  height: 380px;
  overflow: auto;
  border: 1px solid lightgray;
  border-collapse: collapse;
}

.searchBlock {
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  border-collapse: collapse;
  padding: 15px 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -1px;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 180%;
}
.clicked {
  border-top: 1px solid #C0C0C0;
  border-collapse: collapse;
  padding: 15px 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -1px;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 180%;
  background-color: #ECECEC;
}

.helpDiv {
  color: #404040;
  font-size: 0.75em;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under left;
}

.rentalQuestion {
  font-size: 1.75em;
  font-weight: 600;
  text-align: left;
  margin-left: 1.3em;
}

.rentalType {
  width: 85%;
  height: 2.8em;
  margin: 0.7em;
  padding-left: 15px;
  background-color: transparent;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 0px 10px lightgray;
}

.clickedRentalType {
  width: 85%;
  height: 2.8em;
  margin: 0.7em;
  padding-left: 15px;
  background-color: transparent;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 0px 10px lightgray;
  background-color: #1381ff;
  color: white;
}

.inputGuarantee {
  position: relative;
  width: 85%;
  height: 2.8em;
  margin-top: 175px;
  padding-left: 15px;
  padding-right: 50px;
  background-color: transparent;
  color: black;
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 0px 10px lightgray;
}

.tips {
  font-size: 10px;
  -webkit-transform: scale(0.95);
  font-weight: 500;
  color: black;
  text-align: center;
  margin-left: -10%;
  margin-right: -10%;
}

.subTitleText {
  font-size: 1.2em;
  font-weight: 700;
}

.commonText {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 2em;
}

.box {
  width: 82%;
  height: 385px;
  margin: 0 auto;
  padding-top: 2.5em;
  padding-left: 0.8em;
  padding-right: 2em;
  box-shadow: 0px 0px 7px lightgray;
  border-radius: 15px;
  text-align: left;
  background-color: white;
}

.submitButton {
  border: none;
  background-color: #D1D1D1;
  color: white;
  border-radius: 45px;
  font-weight: 600;
}

.reportTabSafe {
  padding: 0;
}
.reportTabCaution {
  padding: 0;
}
.reportTabDanger {
  padding: 0;
}
.reportTabFree {
  padding: 0;
}

.reportTabSafe > li {
  display: inline-block;
  text-align: center;
  width: 156px;
  border-bottom: solid #BDBDBD;
  color: #BDBDBD;
  font-weight: 600;
}
.reportTabCaution > li {
  display: inline-block;
  text-align: center;
  width: 156px;
  border-bottom: solid #BDBDBD;
  color: #BDBDBD;
  font-weight: 600;
}
.reportTabDanger > li {
  display: inline-block;
  text-align: center;
  width: 156px;
  border-bottom: solid #BDBDBD;
  color: #BDBDBD;
  font-weight: 600;
}
.reportTabFree > li {
  display: inline-block;
  text-align: center;
  width: 156px;
  border-bottom: solid #BDBDBD;
  color: #BDBDBD;
  font-weight: 600;
}

.reportTabSafe .active {
  color: #5087FF;
  border-bottom: solid #5087FF;
}
.reportTabCaution .active {
  color: #F6953C;
  border-bottom: solid #F6953C;
}
.reportTabDanger .active {
  color: #FF5A56;
  border-bottom: solid #FF5A56;
}

.titleSafe {
  color: #5087FF;
  font-weight: 700;
  font-size: 1.7em;
}
.titleCaution {
  color: #F6953C;
  font-weight: 700;
  font-size: 1.7em;
}
.titleDanger {
  color: #FF5A56;
  font-weight: 700;
  font-size: 1.7em;
}

.summaryBox {
  border-radius: 20px;
  box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.1);
  width: 311px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: white;
  margin-bottom: 35px;
}
.summaryTitle {
  font-size: 18.55px;
  font-weight: 700;
  text-align: left;
  padding-left: 22px;
}
.summaryBang {
  float: left;
  margin-left: 13px;
  margin-right: 13px;
}
.summaryDiv {
  font-size: 15px;
  font-weight: 700;
  text-align: left;
}
.summarySpan {
  color: #F98C84;
  font-size: 11.5px;
  font-weight: 600;
  text-align: left;
}
.summaryDetails {
  border-radius: 20px;
  box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.1);
  width: 213px;
  height: 41px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summaryMents {
  color: #767676;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  height: 60px;
}
.summaryBlock {
  height: 10px;
}
.summaryNext {
  margin-left: 20px;
  padding-bottom: 2px;
}
.summaryText {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin-left: 22px;
  margin-right: 22px;
}
.summarySubTitle {
  font-size: 12px;
  font-weight: 500;
  color: #BDBDBD;
  text-align: left;
  margin-left: 17px;
}

.detailBox {
  border-radius: 20px;
  box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.1);
  width: 343px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: white;
  margin-bottom: 35px;
}
.detailTitle {
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
}
.detailIcon {
  margin-top: 40px;
}
.detailSubTitleBox {
  background-color: #FFF8F8;
  border: 2px solid #FFD7D6;
  border-radius: 20px;
  width: 305px;
  height: 37px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  color: #3E3E3E;
  margin-top: 35px;
  margin-bottom: 25px;
}
.detailText {
  width: 298px;
  line-height: 24px;
  font-size: 14px;
  color: #3E3E3E;
  font-weight: 500;
  text-align: justify;
  margin: 0 auto;
}
.detailTextGray {
  width: 298px;
  line-height: 24px;
  font-size: 14px;
  color: #767676;
  font-weight: 500;
  text-align: justify;
  margin: 0 auto;
}
.detailRiskCalculator {
  width: 299px;
  height: 85px;
  border: 2px solid rgba(170, 170, 170, 0.3);
  border-radius: 15px;
  padding-top: 14px;
  padding-bottom: 23px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.safeBackground {
  background: linear-gradient(white, rgba(223, 233, 255, 0.47));
  height: 100%;
  width: 100%;
  position: relative;
}
.cautionBackground {
  background: linear-gradient(white, rgba(255, 247, 233, 0.47));
  height: 100%;
  width: 100%;
  position: relative;
}
.dangerBackground {
  background: linear-gradient(white, rgba(255, 232, 232, 0.47));
  height: 100%;
  width: 100%;
  position: relative;
}

.safeBackgroundFull {
  background: rgba(223, 233, 255, 0.47);
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: -35px;
}
.cautionBackgroundFull {
  background: rgba(255, 247, 233, 0.47);
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: -35px;
}
.dangerBackgroundFull {
  background:rgba(255, 232, 232, 0.47);
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: -35px;
}

