.layout {
  width: 375px;
  height: 812px;
  background-color: white;
  margin:0 auto;
  overflow-y: scroll;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#attention {
  background-color: #FEF9F2 !important;
}

.main {
  //min-height: calc(100vh - 180px);
  text-align: center;
  height: 632px;
}
